body{
    background: url("../img/patterns/pattern6.png");
    font: 12px/17px Arial;
}
label, input, button, select, textarea {
    font-size: 12px;
    font-family: Arial;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.btn {
    
    padding: 3px 12px 5px;
    
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
          
  -webkit-box-shadow: inset 0 14px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 14px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 14px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-small {
  padding: 2px 10px 2px;
  font-size: 11.9px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.btn-group > .btn:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 2px;
          border-bottom-left-radius: 2px;
     -webkit-border-top-left-radius: 2px;
             border-top-left-radius: 2px;
      -moz-border-radius-bottomleft: 2px;
         -moz-border-radius-topleft: 2px;
}

.btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
     -webkit-border-top-right-radius: 2px;
             border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
          border-bottom-right-radius: 2px;
         -moz-border-radius-topright: 2px;
      -moz-border-radius-bottomright: 2px;
}

.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #2797D6;
    *background-color: #24507A;
    background-image: -moz-linear-gradient(top, #2797D6, #24507A);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2797D6), to(#24507A));
    background-image: -webkit-linear-gradient(top, #2797D6, #24507A);
    background-image: -o-linear-gradient(top, #2797D6, #24507A);
    background-image: linear-gradient(to bottom, #2797D6, #24507A);
    background-repeat: repeat-x;
    border-color: #2797D6 #24507A #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2797D6', endColorstr='#24507A', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    color: #ffffff;
    background-color: #24546F;
    *background-color: #24507A;
}

.btn-primary:active,
.btn-primary.active {
    background-color: #24507A \9;
}


.content-conteiner{
    background: #FFF;
    
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
            
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}



/* -- profile -- */
.profile-title{
    background: #354E74;
    position: relative;
    
    background-image: -moz-linear-gradient(top, #4989B4, #406D8B);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4989B4), to(#406D8B));
    background-image: -webkit-linear-gradient(top, #4989B4, #406D8B);
    background-image: -o-linear-gradient(top, #4989B4, #406D8B);
    background-image: linear-gradient(to bottom, #4989B4, #406D8B);
    
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    
    color: #FFF;
    -webkit-border-radius: 4px 4px 0 0;
       -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
}
.profile-title .pft-title{
    padding-left: 20px;
}
.profile-title h4{
    font-weight: normal;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.6);
}
.profile-header{
    border-bottom: 1px solid #D5D5D5;
    margin-bottom: 20px;
    background: #F7F7F7;
    
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}
.profile-header, .profile-footer{
    padding: 20px;
    width: auto;
}
.profile-content{
    padding: 0 20px;
    width: auto;
}
.profile-header .pfh-panel{
    
}
.profile-user-data{
    margin: 2px 0 0 130px;
}
.profile-name{
    font-weight: normal;
    margin: 0;
    line-height: 20px;
    font-size: 22px;
}
.profile-user-rating{
    margin: 2px 0 0;
}
.profile-user-dates{
    font-size: 11px;
    color: #969696;
    margin: 7px 0 0;
    font-family: tahoma;
}
.profile-user-dates i{
    opacity: 0.8;
    margin: 0;
}
.profile-user-dates span{
    padding-right: 15px;
}
.profile-user-contacts{
    margin: 14px 0 0;
}
.profile-user-contacts span{
    padding-right: 15px;
}

.profile-content .component .type-chosen{
    margin: 10px 0;
}
.profile-content .component .splitter{
    border-bottom: 1px solid #E5E5E5;
    height: 0;
    position: absolute;
    width: 670px;
    margin-top: 14px;
}
/* -- /profile -- */


.slider{
    margin: 10px 0;
}
.ui-corner-all{
    border-radius: 8px;
}
.ui-slider-horizontal {
    height: .2em;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.5em;
    margin-left: -.6em;
}
.ui-slider .ui-slider-handle {
    width: 1em;
    height: 1em;
}
.ui-widget-header {
    background: #9ECDFF;
}


/* -- filter -- */
.filter-box{
    padding: 10px;
}
.filter-box .filter-group{
    margin-bottom: 10px;
}
.filter-box .filter-group .fg-header{
    color: #FFF;
    font-weight: normal;
    font-size: 12px;
    padding: 5px 10px;
    margin: 0 -10px;
    text-transform: uppercase;
    background: #1A1A1A;
    background-image: -moz-linear-gradient(top, #555555, #1A1A1A);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#1A1A1A));
    background-image: -webkit-linear-gradient(top, #555555, #1A1A1A);
    background-image: -o-linear-gradient(top, #555555, #1A1A1A);
    background-image: linear-gradient(to bottom, #555555, #1A1A1A);
}
.filter-box .filter-group .fg-body{
    padding: 10px 0;
}
/* -- /filter -- */