body{
    background: url("../img/patterns/pattern6.png");
    font: 12px/17px Arial;
}
label, input, button, select, textarea {
    font-size: 12px;
    font-family: Arial;
}

a {
    color: #237AA5;
}
a:hover, a:focus {
    color: #002C42;
}

ul{
    list-style: none;
    margin: 0;
}


select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}


.tooltip-inner {
  max-width: 200px;
  padding: 8px 8px 10px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  font: 11px/11px Tahoma;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}


.btn {
    
    padding: 3px 12px 5px;
    
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
          
  -webkit-box-shadow: inset 0 14px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 14px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 14px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-small {
  padding: 2px 10px 2px;
  font-size: 11.9px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.btn-group > .btn:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 2px;
          border-bottom-left-radius: 2px;
     -webkit-border-top-left-radius: 2px;
             border-top-left-radius: 2px;
      -moz-border-radius-bottomleft: 2px;
         -moz-border-radius-topleft: 2px;
}

.btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
     -webkit-border-top-right-radius: 2px;
             border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
          border-bottom-right-radius: 2px;
         -moz-border-radius-topright: 2px;
      -moz-border-radius-bottomright: 2px;
}

.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #2797D6;
    *background-color: #24507A;
    background-image: -moz-linear-gradient(top, #2797D6, #24507A);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2797D6), to(#24507A));
    background-image: -webkit-linear-gradient(top, #2797D6, #24507A);
    background-image: -o-linear-gradient(top, #2797D6, #24507A);
    background-image: linear-gradient(to bottom, #2797D6, #24507A);
    background-repeat: repeat-x;
    border-color: #2797D6 #24507A #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2797D6', endColorstr='#24507A', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    color: #ffffff;
    background-color: #24546F;
    *background-color: #24507A;
}

.btn-success{
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #1BA800;
    *background-color: #1BA800;
    background-image: -moz-linear-gradient(top, #6ADD00, #1BA800);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6ADD00), to(#1BA800));
    background-image: -webkit-linear-gradient(top, #6ADD00, #1BA800);
    background-image: -o-linear-gradient(top, #6ADD00, #1BA800);
    background-image: linear-gradient(to bottom, #6ADD00, #1BA800);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ADD00', endColorstr='#1BA800', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); 
}

.btn-danger{
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #A50056;
    *background-color: #A50056;
    background-image: -moz-linear-gradient(top, #FF0085, #A50056);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF0085), to(#A50056));
    background-image: -webkit-linear-gradient(top, #FF0085, #A50056);
    background-image: -o-linear-gradient(top, #FF0085, #A50056);
    background-image: linear-gradient(to bottom, #FF0085, #A50056);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0085', endColorstr='#A50056', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); 
}

.btn-primary:active,
.btn-primary.active {
    background-color: #24507A \9;
}


.content-conteiner{
    background: #FFF;
    
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
            
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}



/* -- profile -- */
.profile-title{
    background: #354E74;
    position: relative;
    
    background-image: -moz-linear-gradient(top, #4989B4, #406D8B);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4989B4), to(#406D8B));
    background-image: -webkit-linear-gradient(top, #4989B4, #406D8B);
    background-image: -o-linear-gradient(top, #4989B4, #406D8B);
    background-image: linear-gradient(to bottom, #4989B4, #406D8B);
    
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    
    color: #FFF;
    -webkit-border-radius: 4px 4px 0 0;
       -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
}
.profile-title .pft-title{
    padding-left: 20px;
}
.profile-title h4{
    font-weight: normal;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.6);
}
.profile-header{
    border-bottom: 1px solid #D5D5D5;
    margin-bottom: 20px;
    background: #F7F7F7;
    
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}
.profile-header, .profile-footer{
    padding: 20px;
    width: auto;
}
.profile-content{
    padding: 0 20px;
    width: auto;
}
.profile-header .pfh-panel{
    
}
.profile-user-data{
    margin: 2px 0 0 130px;
}
.profile-name{
    font-weight: normal;
    margin: 0;
    line-height: 20px;
    font-size: 22px;
}
.profile-user-rating{
    margin: 2px 0 0;
}
.profile-user-dates{
    font-size: 11px;
    color: #969696;
    margin: 7px 0 0;
    font-family: tahoma;
}
.profile-user-dates i{
    opacity: 0.8;
    margin: 0;
}
.profile-user-dates span{
    padding-right: 15px;
}
.profile-user-contacts{
    margin: 14px 0 0;
}
.profile-user-contacts span{
    padding-right: 15px;
}

.profile-content .component .type-chosen{
    margin: 10px 0;
}
.profile-content .component .splitter{
    border-bottom: 1px solid #E5E5E5;
    height: 0;
    position: absolute;
    width: 670px;
    margin-top: 14px;
}
/* -- /profile -- */


.slider{
    margin: 10px 0;
}
.ui-corner-all{
    border-radius: 8px;
}
.ui-slider-horizontal {
    height: 2px;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -7px;
    margin-left: -7px;
}
.ui-slider .ui-slider-handle {
    width: 14px;
    height: 14px;
}
.ui-widget-header {
    background: #9ECDFF;
}


/* -- filter -- */
.filter-box{
    padding: 10px;
}
.filter-box .filter-group{
    margin-bottom: 10px;
}
.filter-box .filter-group .fg-header{
    color: #FFF;
    font-weight: normal;
    font-size: 12px;
    padding: 5px 10px;
    margin: 0 -10px;
    text-transform: uppercase;
    background: #406D8B;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.6);
    
    background-image: -moz-linear-gradient(top, #4989B4, #406D8B);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4989B4), to(#406D8B));
    background-image: -webkit-linear-gradient(top, #4989B4, #406D8B);
    background-image: -o-linear-gradient(top, #4989B4, #406D8B);
    background-image: linear-gradient(to bottom, #4989B4, #406D8B);
    
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
.filter-box .filter-group .fg-body{
    padding: 10px 0;
}
/* -- /filter -- */



.restyle .nav-tabs > li > a {
  border: none;
}
.restyle .nav-tabs > li > a:hover,
.restyle .nav-tabs > li > a:focus {
  border: none;
  border-bottom: 3px solid #D0D0D0;
  background: none;
}
.restyle .nav-tabs > .active > a,
.restyle .nav-tabs > .active > a:hover,
.restyle .nav-tabs > .active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: none;
  border-bottom: 3px solid #000;
}
.restyle .nav-tabs > li > a,
.restyle .nav-pills > li > a {
  margin-right: 1px;
}



.icheckbox_square, .icheckbox_square-red, .icheckbox_square-green, .icheckbox_square-blue, .icheckbox_square-aero, .icheckbox_square-grey, .icheckbox_square-orange, .icheckbox_square-yellow, .icheckbox_square-pink, .icheckbox_square-purple, .iradio_square, .iradio_square-red, .iradio_square-green, .iradio_square-blue, .iradio_square-aero, .iradio_square-grey, .iradio_square-orange, .iradio_square-yellow, .iradio_square-pink, .iradio_square-purple {
    display: inline-block;
}

ul.list label {
    display: inline;
    vertical-align: top;
    padding: 0 0 0 5px;
    line-height: 22px;
}

/* -- profile-loader-title -- */
#profile-loader-title{
    padding-right: 30px;
    display: inline-block;
    color: #265D81;
    margin-top: 6px;
}
#profile-loader-title.load{
    background: url(../img/ajax-loader-1.gif) no-repeat right center;
}
#profile-loader-title.hide{
    display: none;
}
#profile-loader-info{
    vertical-align: top;
    padding-left: 10px;
    line-height: 33px;
}
/* -- profile-loader-title -- */


/* -- master -- */
.master table.fields{
    width: 100%;
}
.master table.fields th{
    text-align: left;
    padding-right: 5px;
}
.master table.fields td{
    padding-right: 5px;
}
.master legend{
    font-size: 12px;
    color: #FFF;
    background: #2B6DA2;
    line-height: normal;
    padding: 7px 0;
    text-indent: 12px;
    text-transform: uppercase;
    
    background: #354E74;
    
    background-image: -moz-linear-gradient(top, #4989B4, #406D8B);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4989B4), to(#406D8B));
    background-image: -webkit-linear-gradient(top, #4989B4, #406D8B);
    background-image: -o-linear-gradient(top, #4989B4, #406D8B);
    background-image: linear-gradient(to bottom, #4989B4, #406D8B);
    
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.master .ui-sommer{
    
}
.master .ui-sommer .uis-head{
    margin: 0 20px 10px;
}
.master .ui-sommer .uis-head span{
    display: inline-block;
    text-align: center;
    width: 16%;
    line-height: 30px;
    font-weight: bold;
    cursor: pointer;
}
.master .ui-sommer .uis-head span.red, .master .ui-sommer .uis-head span.green{
    background: #B6B6B6;
    color: #FFF;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
}
.master .ui-sommer .uis-head span.red.active{
    background: #EC2828;
    color: #FFF;
}
.master .ui-sommer .uis-head span.green.active{
    background: #18BE18;
    color: #FFF;
}
.master .ui-sommer .uis-head span.uish-center{
    width: 62%;
}
.master .ui-sommer .uis-slider{
    margin: 0 34px;
}
/* -- /master -- */


/* -- side-menu -- */
.side-menu{
    margin-top: 20px;
}
.side-menu .badge{
    font-size: 11px;
    padding: 2px 6px;
}
.side-menu .sm-notify{
    float: right;
    margin-right: 70px;
}
.side-menu .sm-title{
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 1px solid #D7D7D7;
    margin-bottom: 10px;
    color: #3C3C3C;
    word-wrap: break-word;
}
.side-menu li{
    line-height: 23px;
}
.side-menu .sm-title [class^="icon-"],.side-menu .sm-title [class*=" icon-"]{
    margin: 0 3px 0 0;
}
/* -- /side-menu -- */


.select-160 .selectboxit-container .selectboxit{
    width: 160px !important;
}


a [class^="icon-"], a [class*=" icon-"], a [class^="icon-"]:before, a [class*=" icon-"]:before,
button [class^="icon-"], button [class*=" icon-"], button [class^="icon-"]:before, button [class*=" icon-"]:before {
    margin-right: 2px;
    margin-left: -2px;
}
.button-wrap {
    padding: 6px;   
}

.button-flat-primary {
    background: #3F81AD;
}
.button-flat-primary:hover {
    background: #166192;
}